.jumbotron {
  text-align: center;
  background-color: rgba(100, 100, 220, 1);
}
h1 {
  font-style: 30px;
}

body {
  background-color: rgba(60, 60, 120, 1);
  color: white;
}
li {
  margin-bottom: 75px;
}

.greenText {
  color: rgba(0, 255, 0, 1);
}
.redText {
  color: rgba(255, 0, 0, 1);
}
